
.html{
  background: url('../assets/images/editedmic1.jpg') no-repeat  center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  // height: 100%;
// no-repeat center center fixed;;

}

.nav.navbar {
  background-color: transparent;
  // font-family: 'Roboto', sans-serif;
  // color: white;

}

//home page
.columns.is-mobile > .column.is-offset-one-fifth {
 margin-bottom: 25%;
}

h1.title.has-text-white{
  font-family: 'Bungee Shade', cursive;
  font-size: 75px;
  color: white
}

p,h2,h3,h1{
  color: white;
}
.map {
  height: 260px;

}
