
.html{
  background: url('../assets/images/editedmic1.jpg') no-repeat  center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;

}

//navbar

.navbar {
  &.is-transparent {
  background-color: transparent;
  background-image: none;
    a.navbar-item{
    font-family: 'Roboto', sans-serif;
    color: white;
    }
  }


}

.navbar-menu.is-active {
    background-color: transparent;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
}

//work this out!!!!! Stop the burger drop down from having a white background colour
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: transparent;

}

//home page
.columns.is-mobile > .column.is-offset-one-fifth {
 margin-bottom: 25%;
}

h1.title.has-text-white{
  font-family: 'Bungee Shade', cursive;
  font-size: 75px;
  color: white
}

h1.subtitle.has-text-white{
  font-weight: 800;
}

h2.subtitle.has-text-white{
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}

.homeBox{
  background-color: white;
  opacity: 0.8;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.75);
}

p,h2,h3{
  color: white;
  font-family: 'Roboto', sans-serif;
}

//reg page
.regButton, .logButton{
  margin-left: 146px;
}

.input{
  box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.75);
}

.map {
  height: 260px;
}

.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.userShowCard {
  border: black solid 3px;
  border-radius: 20px;
  box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.75);
}

.userShowEventCard {
  
  border: black solid 3px;
  border-radius: 20px;
  box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.75);
  margin: 5px;

}

.userEventCardImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
}
