
.html{
  background: url('../assets/images/editedmic1.jpg') no-repeat  center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // height: 100%;
// no-repeat center center fixed;;

}

h1{
  font-family: 'Bungee Shade', cursive;
  font-size: 150px;
  color: white
}

p,h2,h3{
  color: white;
}
.map {
  height: 260px;

}
